<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>게시판</h1>

<a href="/">메인 페이지</a>

<div th:if="${isLogin}">
    <a href="/boards/new">글 쓰기</a>
</div>
<br><br>

<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
<!--                <th>내용</th>-->
<!--                <th>사진</th>-->
                <th>작성시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${posts}">

                <td th:text="${post.getPostId()}"></td>
<!--                <td th:text="${post.getTitle()}"></td>-->
                <td><a th:href="@{'/boards/' + ${post.getPostId()}}"><span th:text="${post.getTitle()}"></span></a></td>
                <td th:text="${post.getAuthor()}"></td>
<!--                <td th:text="${post.getContent()}"></td>-->
                <td th:text="${post.getCreationTime()}"></td>


            </tr>
            </tbody>
        </table>
    </div>


</div> <!-- /container -->



</body>
</html>