<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a href="/">메인 페이지</a> <a href="/boards">게시판</a>
<br>

<div class="container">
    <form action="/boards/new" method="post">

        <div class="form-group">

            <label for="title">제목</label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요">
            <br>

            <label for="text">글 내용</label><br>
            <textarea id="text" name="text" cols="30" rows="5"></textarea>


        </div>

        <button type="submit">등록</button>


    </form>
</div> <!-- /container -->

</body>
</html>