<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post 상세 페이지</title>
</head>
<body>

<a href="/">메인 페이지</a>
<a href="/boards">게시판</a>
<br>
<a href="">post 수정</a>
<a href="">post 삭제</a>
<br><br>


<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>내용</th>
                <th>사진</th>
                <th>작성시간</th>
            </tr>
            </thead>

            <tbody>
            <tr>

                <td th:text="${post.getPostId()}"></td>
                <td th:text="${post.getTitle()}"></td>
                <td th:text="${post.getAuthor()}"></td>
                <td th:text="${post.getContent()}"></td>
                <td th:text="${post.getPhotoURL()}"></td>
                <td th:text="${post.getCreationTime()}"></td>


            </tr>
            </tbody>
        </table>
    </div>


</div> <!-- /container -->

</body>
</html>