<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post 상세 페이지</title>
</head>
<body>

<a href="/">메인 페이지</a>
<a href="/boards">게시판</a>
<br>

<!--<a th:href="@{'/boards/edit/' + ${post.getPostId()}}">수정</a>-->
<!-- form 을 이용해 '수정'버튼 클릭시 Post 객체 데이터를 모두 Mapping Controller 에 전달 -->
<div th:if="${loginName} == ${post.getAuthor()}">
    <form action="/boards/editForm" method="post">
        <button type="submit">수정</button>
        <input type="hidden" name="postId" th:value="${post.getPostId()}">
        <input type="hidden" name="author" th:value="${post.getAuthor()}">
        <input type="hidden" name="title" th:value="${post.getTitle()}">
        <input type="hidden" name="content" th:value="${post.getContent()}">
        <input type="hidden" name="photoURL" th:value="${post.getPhotoURL()}">
        <input type="hidden" name="creationTime" th:value="${post.getCreationTime()}">
    </form>

    <form action="/boards/delete" method="post">
        <button type="submit">삭제</button>
        <input type="hidden" name="postId" th:value="${post.getPostId()}">
        <input type="hidden" name="author" th:value="${post.getAuthor()}">
    </form>
    <!--<a th:href="@{'/boards/delete/' + ${post.getPostId()}}">삭제</a>-->
</div>
<br><br>


<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>내용</th>
                <th>사진</th>
                <th>작성시간</th>
            </tr>
            </thead>

            <tbody>
            <tr>

                <td th:text="${post.getPostId()}"></td>
                <td th:text="${post.getTitle()}"></td>
                <td th:text="${post.getAuthor()}"></td>
                <td th:text="${post.getContent()}"></td>
                <td th:text="${post.getPhotoURL()}"></td>
                <td th:text="${post.getCreationTime()}"></td>


            </tr>
            </tbody>
        </table>
    </div>


</div> <!-- /container -->

</body>
</html>